body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width:1200px
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ramka {
  border: 1px solid black;
  text-align:center
}

#DVD {
visibility: hidden;
}

#Furniture {
  visibility: hidden;
  position:relative;
  top:-60px
  }

#Books {
  visibility: hidden;
  position:relative;
  top:-205px
  }

  #dvd1, #furniture1, #books1 {
   width:1200px
  }

  .dvd {
    display:flex;
    flex-flow:row wrap;
    margin-left:20px;
  }

  .dvd div {
    margin-bottom:15px;
    margin-right: 15px;
    width:250px;
    position:relative
  }
    
   .header {
   width:100%;
   display:flexbox;
   border-bottom: 1px solid #000;
   margin-bottom: 15px;
  }
  #headAdd {
    display: flexbox;
    border-bottom: 1px solid blue;
  }
 h2, .buttons, .buttons1 {
   display: inline-flex;
   margin-left: 10px;
 }
 .buttons {
   margin-left:60%
 }
 .buttons1 {
   margin-left: 60%;
  }
   button {
   height:30px;
   margin: 5px;
   font-size: 18px;
   background-color: aliceblue;
   box-shadow: 5px 4px;
 }
 a {
  text-decoration: none;
 }
 form{
   padding:10px
 }

 .delete_checkbox {
   position:relative;
   top:3px;
}
#cdvd {
right: 122px
}
#cfurn {
  right:75px
}
#cbooks {
right:88px  
}
#red {
  position:relative;
  font-style: italic;
  color:red;
  left:90px
}
#blue {
  position:relative;
  left:65px;
  font-style: italic;
  color:blue
}
#green {
  position:relative;
  left:65px;
  font-style: italic;
  color:green;
}

#save {
  position:absolute;
  bottom:555px;
  left:808px
}

.show {
  visibility: visible ;
  background-color: rgb(25, 61, 160);
  height:100px;
  width:300px;
  position:absolute;
  top:250px;
  left:500px;
  box-shadow:2px 2px yellow;
  text-align:center;
  padding:15px;
  color:white
}
.hide {
  visibility: hidden;
}
#close {
  margin-top:30px
}